<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>

    <title>ACTS AUTO</title>

    <!-- Core CSS -->
    <link rel="stylesheet" href="static/files-login/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="static/files-login/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="static/files-login/demo.css" />

    <link rel="stylesheet" href="static/files-login/page-auth.css" />
    <!-- Helpers -->
    <script src="static/files-login/helpers.js"></script>
 
  </head>
  <body>
    <!-- Content -->

      <div class="authentication-wrapper authentication-basic container-p-y">
        
          <!-- Register -->
          <div class="card">
            <div class="card-body">
              <!-- Logo -->
              <div class="app-brand justify-content-center">
                <a href="login-options.php" class="app-brand-link gap-2">

                  <span class="app-brand-text demo text-body fw-bolder">AUTO ACTS</span> <br> <br> <br> <br> 
                </a>
              </div>
              <!-- /Logo -->
              <h4 class="mb-2" class="text-center"><b>Driver Login</b></h4>
              <p class="mb-4">Please sign-in to your account using driver ID and Password</p>

              <form id="formAuthentication" class="mb-3" action="{{ url_for('driverlogin') }}" method="POST">
                <div class="mb-3">
                  <label for="driver_id" class="form-label">Driver ID</label>
                  <input type="text" class="form-control" id="email" name="driver_id" placeholder="Enter Driver ID" autofocus required>
                </div>

                <div class="mb-3 form-password-toggle">
                  <div class="d-flex justify-content-between">
                    <label class="form-label" for="password">Password</label>
                  </div>
                  <div class="input-group input-group-merge">
                    <input type="password" id="password" class="form-control" name="password" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"  aria-describedby="password" required>
                    <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                  </div>
                </div>

                 
                <div class="mb-3" class="col-md-12 text-center">
                  <button class="btn btn-danger" href="driver_police.php" type="submit">Sign in</button>
                </div>
                <span class="reg">Already have an account? <a class="text-danger" href="driver_reg.php">Sign Up</a></span><br>
                <span class="reg" >Back to <a class="text-danger" href="static/index.php">Home</a></span>
              </form>
            </div>
          
        </div>
 
    </div>

    <script src="static/files-login/jquery.js"></script>
    <script src="static/files-login/popper.js"></script>
    <script src="static/files-login/bootstrap.js"></script>
    <script src="static/files-login/perfect-scrollbar.js"></script>

    <script src="static/files-login/menu.js"></script>

    <script src="static/files-login/main.js"></script>


    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>
