<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
 
  <title>ACTS</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/img/icons/acts.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!--#manifest json file-->
  <link rel="manifest" href="static/manifest.json">
  
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">

  <!--Script for Notification enabling-->
    <script>
    Notification.requestPermission().then(function (permission) {
        console.log(permission);
      });
      </script>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="#">ACTS AUTO</a></h1>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li class="dropdown"><a href="#"><span>Login Options</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="{{ url_for('userlogin') }}">User Login </a></li>
              <li><a href="{{ url_for('driverlogin') }}">Driver Login </a></li>
              <li><a href="{{ url_for('hospitallogin') }}">Hospital Login </a></li>
              <li><a href="{{ url_for('adminlogin') }}">Admin Login </a></li>
            </ul>
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
    </div>
  </header><!-- End Header -->
 
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center" >
    <div class="container position-relative">
      <div class="row justify-content-center">
          <div class="col-xl-7 col-lg-9 text-center">
            <h1>ACTS AUTO </h1>
            <h2>An Accident Care and Transport Initiative</h2>
        </div>
      </div>
      <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>About Us</h2>
          <p>Accident Care and Transport Service or ACTS is a voluntary organisation providing <br>free emergency assistance to accident victims in Thrissur city and Thrissur District of India. </p>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
            ACTS was founded on 8 May 2000, under the Presidency of Alkesh Kumar Sharma District Collector and General Secretary Fr. Davis Chiramel
             with the support of local civic leaders. 
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> ACTS consistes of 45000 members</li>
              <li><i class="ri-check-double-line"></i>ACTS owns 17 branches in Thrissur District</li>
              <li><i class="ri-check-double-line"></i> ACTS have 145 units for services</li>
              <li><i class="ri-check-double-line"></i> ACTS own 22 ambulances </li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
            The Supreme Court appointed a Committee under Justice K Skandan for making comprehensive guideline for Good Samaritans appreciated the role 
            for Accident Care and Transport Service for their valuable contribution to the society. In its report submitted to Supreme Court, the Committee
             recommended the Thrissur model of Good Samaritans. Those recommendations were accepted by the apex court and Thrissur Model of Good Samaritans 
             has been adopted in framing guidelines to be followed all over India.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!--Login Section-->
    <h2 class="row justify-content-center">Login Options</h2>
      <div class="row icon-boxes">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="ri-stack-line"></i></div>
            <h4 class="title"><a href="{{ url_for('userlogin') }}">User Login </a></h4>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="ri-palette-line"></i></div>
            <h4 class="title"><a href="{{ url_for('driverlogin') }}">Driver Login  </a></h4> 
          </div>
        </div>
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="400">
          <div class="icon-box">
            <div class="icon"><i class="ri-command-line"></i></div>
            <h4 class="title"><a href="{{ url_for('hospitallogin') }}">Hospital Login</a></h4>  
          </div>
        </div>
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="500">
          <div class="icon-box">
            <div class="icon"><i class="ri-fingerprint-line"></i></div>
            <h4 class="title"><a href="{{ url_for('adminlogin') }}">Admin Login</a></h4>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Hero -->
  
  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/assets/vendor/aos/aos.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

</body>

</html>